@{
    ViewData["Title"] = "CreateEvent";
}

    <form action="Create" method="post">
        Date: <input type="text" name="Date" value="" />
        Title: <input type="text" name="Title" value="" />
        Description: <input type="text" name="Description" value="" />
                     <input type="submit"/>
    </form>